.additional-products {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 1px;
		background-color: #d9d9d9;
		box-shadow: 100vw 0 0 #d9d9d9;
		top: -29px;
		right: 0;
	}
}

.additional-products__container {
	@media #{$desktop-only} {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 80px;
		margin-bottom: 85px;
	}
}

.additional-products__list {
	list-style: none;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		padding: 26px 38px;
	}

	@media #{$desktop-only} {
		padding: 0;
	}
}

.additional-products__title {
	width: 247px;
	background-color: #ffffff;
	position: relative;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 33px 0;

	@media #{$not-mobile} {
		font-size: 36px;
		line-height: 36px;
		margin: 68px 0 55px;
		padding: 0 38px;
	}

	@media #{$desktop-only} {
		margin-top: 76px;
		margin-bottom: 81px;
		padding: 0;
	}

	&::before {
		content: "";
		position: absolute;
		left: 1px;
		right: 0;
		top: 12px;
		width: 100vw;
		height: 2px;
		background-color: #68b738;
		box-shadow: 100vw 0 0 #68b738;
		z-index: -1;

		@media #{$not-mobile} {
			top: 24px;
			left: -1500px;
		}
	}
}

.additional-products__item {
	margin: 0;

	@media #{$not-mobile} {
		margin: 0;
	}

	@media #{$desktop-only} {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.additional-products__item:not(:last-child) {
	@media #{$tablet-only} {
		margin-bottom: 54px;
	}
}

.additional-products__present {
	margin: 39px 0 34px;

	@media #{$tablet-only} {
		margin-top: 74px;
		margin-bottom: 74px;
	}
}
