.additional {
	padding: 0;
	border: none;
}

.additional__title {
	background-color: #ffffff;
	margin: 23px 0 34px;
	width: 164px;
	position: relative;

	@media #{$not-mobile} {
		width: 253px;
		margin: 65px 0 57px;

		&::after {
			content: "";
			position: absolute;
			display: block;
			background-color: #ffffff;
			width: 38px;
			height: 40px;
			left: -38px;
			top: 0;
		}
	}

	@media #{$desktop-only} {
		margin: 67px 0 57px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 1px;
		right: 0;
		top: 13px;
		width: 100vw;
		height: 2px;
		background-color: #68b738;
		box-shadow: 100vw 0 0 #68b738;
		z-index: -1;

		@media #{$not-mobile} {
			top: 23px;
			left: -1500px;
		}
	}
}

.additional__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 12px;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: start;
		gap: 32px 55px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(4, 1fr);
		gap: 81px;
	}
}

.additional__item {
	display: flex;
	gap: 16px;
	align-items: center;

	@media #{$not-mobile} {
		gap: 20px;
	}
}

.additional__sweetener-input,
.additional__water-input,
.additional__milk-input,
.additional__vitamins-input {
	display: none;
}

.additional__checkbox {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 1px solid #cdcdcd;

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
	}

	&::before {
		content: "";
		width: 30px;
		height: 30px;
		position: absolute;
		mask: url("../../icons/stack.svg#tick") no-repeat center;
		background: #68b738;
		opacity: 0;

		@media #{$not-mobile} {
			width: 40px;
			height: 40px;
		}
	}
}

.additional__sweetener-input:checked + .additional__checkbox::before,
.additional__water-input:checked + .additional__checkbox::before,
.additional__milk-input:checked + .additional__checkbox::before,
.additional__vitamins-input:checked + .additional__checkbox::before {
	opacity: 1;
}
