.additional {
	padding: 0;
	border: none;
}

.additional__title {
	background-color: #ffffff;
	margin: 0 0 34px;
	width: 164px;
	position: relative;

	@media #{$not-mobile} {
		width: 253px;
		margin: 0 0 57px;
	}

	@media #{$desktop-only} {
		margin: 0 0 57px;
	}

	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 13px;
		width: 100vw;
		height: 2px;
		background-color: #68b738;
		box-shadow: 100vw 0 0 #68b738;
		z-index: -1;

		@media #{$not-mobile} {
			top: 23px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		background-color: #ffffff;
		width: 38px;
		height: 40px;
		left: -38px;
		top: 0;
	}
}

.additional__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 12px;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: start;
		gap: 32px 55px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(4, 1fr);
		gap: 81px;
	}
}

.additional__item {
	display: flex;
	gap: 16px;
	align-items: center;

	&:hover {
		opacity: 0.9;
	}

	&:active {
		opacity: 0.3;
	}

	@media #{$not-mobile} {
		gap: 20px;
	}
}

.additional__input {
	margin: 0;
	appearance: none;
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	aspect-ratio: 1;

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
	}

	&:checked::before {
		content: "";
		display: block;
		margin: auto;
		aspect-ratio: 1;
		width: 30px;
		height: 30px;
		background: url("../../icons/stack.svg#tick") no-repeat center / 30px;

		@media #{$not-mobile} {
			width: 40px;
			height: 40px;
		}
	}
}
