.additional-products {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 1px;
		background-color: #d9d9d9;
		box-shadow: 100vw 0 0 #d9d9d9;
		top: -29px;
		right: 0;

		@media #{$not-mobile} {
			display: none;
		}
	}
}

.additional-products__container {
	@media #{$desktop-only} {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 58px;
		margin-bottom: 48px;
	}
}

.additional-products__list {
	list-style: none;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		border: 1px solid #cdcdcd;
		padding: 15px 38px 28px;
	}

	@media #{$desktop-only} {
		border: 0;
		padding: 0;
	}
}

.additional-products__title {
	width: 247px;
	background-color: #ffffff;
	position: relative;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 33px 0;

	@media #{$not-mobile} {
		width: 415px;
		font-size: 36px;
		line-height: 36px;
		margin: 0 0 75px;
		padding: 0 38px;
	}

	@media #{$desktop-only} {
		width: 374px;
		margin-top: 76px;
		margin-bottom: 90px;
		padding: 0;
	}

	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 12px;
		width: 100vw;
		height: 2px;
		background-color: #68b738;
		box-shadow: 100vw 0 0 #68b738;
		z-index: -1;

		@media #{$not-mobile} {
			top: 18px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		background-color: #ffffff;
		width: 36px;
		height: 40px;
		left: -36px;
		top: 0;

		@media #{$not-mobile} {
			left: -66px;
		}

		@media #{$desktop-only} {
			left: -36px;
		}
	}
}

.additional-products__item {
	position: relative;
	margin: 0;

	@media #{$not-mobile} {
		margin: 0;
	}

	@media #{$desktop-only} {
		margin-top: 0;
		margin-bottom: 29px;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #cdcdcd;
			right: 0;
			top: 56px;
		}
	}
}

.additional-products__item:not(:last-child) {
	position: relative;

	@media #{$tablet-only} {
		padding-bottom: 26px;
		margin-bottom: 17px;
		border-bottom: 1px solid #cdcdcd;
	}

	@media #{$desktop-only} {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #cdcdcd;
			right: 0;
			top: 56px;
		}
	}
}

.additional-products__present {
	margin: 39px 0 34px;

	@media #{$tablet-only} {
		margin-top: 74px;
		margin-bottom: 74px;
	}

	@media #{$desktop-only} {
		margin-top: -15px;
	}
}
