.additional-product {
	padding: 13px 0 18px;

	@media #{$not-mobile} {
		padding: 0;
	}

	@media #{$desktop-only} {
		display: flex;
		width: 896px;
	}
}

.additional-product__wrapper {
	@media #{$not-mobile} {
		min-height: 42px;
		margin-bottom: 13px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media #{$desktop-only} {
		margin: 0;
		gap: 80px;
	}
}

.additional-product__characteristics {
	display: flex;
	justify-content: space-between;

	@media #{$not-mobile} {
		gap: 48px;
	}

	@media #{$desktop-only} {
		justify-content: start;
		margin-right: 35px;
		gap: 0;
	}
}

.additional-product__title {
	position: relative;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 14px;
	padding: 0;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
		margin: 0;
	}

	@media #{$desktop-only} {
		min-width: 245px;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #d9d9d9;
		top: -14px;
		right: 0;

		@media #{$not-mobile} {
			display: none;
		}
	}
}

.additional-product__value {
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		font-size: 16px;
	}

	&--volume {
		@media #{$desktop-only} {
			min-width: 200px;
			margin-right: 43px;
		}
	}

	&--price {
		@media #{$desktop-only} {
			min-width: 80px;
			margin-right: 0;
		}
	}
}

.additional-product__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 109px;
	margin-top: 14px;

	@media #{$desktop-only} {
		margin-left: auto;
		margin-top: 0;
	}

	@media #{$desktop-only} {
		margin-left: -35px;
		min-width: 244px;
		padding: 10px 10px;
		display: grid;
		place-items: center;
	}
}
