.address {
	background-color: #f2f2f2;

	@media #{$desktop-only} {
		background: #ffffff;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&--background_lighter {
		background-color: #ffffff;
	}
}

.address__wrapper {
	display: flex;
	align-items: center;
	padding: 26px 0 26px;

	@media #{$not-mobile} {
		padding: 56px 42px;
		margin: 0;
	}

	@media #{$desktop-only} {
		pointer-events: initial;
		width: 565px;
		min-height: 198px;
		padding: 56px 79px;
		z-index: 1;
		background-color: #ffffff;
		margin: 95px 0 95px;
	}
}

.address__title {
	font-family: var(--accent-font);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin: 0;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 20px;
		line-height: 26px;
	}
}

.address__number {
	line-height: 20px;
	font-style: normal;
	margin-left: auto;

	@media #{$not-mobile} {
		margin-top: -7px;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-align: end;
	}

	@media #{$desktop-only} {
		text-align: left;
	}
}

.address__number-city {
	@media #{$not-mobile} {
		display: block;
		margin-top: 19px;
	}
}

.address__map {
	width: 100%;

	@media #{$not-mobile} {
		height: 100%;
	}

	@media #{$desktop-only} {
		pointer-events: initial;
		display: grid;
		grid-template-columns: 1fr;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
}

.address__img-wrapper {
	@media #{$desktop-only} {
		pointer-events: initial;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		height: 100%;
		width: 100%;
	}
}

.address__map-img {
	display: block;
	z-index: 1;

	@media #{$desktop-only} {
		pointer-events: initial;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		height: 100%;
		width: 100%;
	}
}

.address__iframe {
	width: 100%;
	border: none;
	display: block;

	@media #{$desktop-only} {
		pointer-events: initial;
		height: 100%;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
}
