.address__wrapper {
	display: flex;
	align-items: center;
	padding: 26px 0 26px;
}

.address__title {
	font-family: var(--accent-font);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin: 0;
}

.address__number {
	line-height: 20px;
	font-style: normal;
	margin-left: auto;
}
