.address {
	@media #{$desktop-only} {
		position: relative;
	}
}

.address__wrapper {
	display: flex;
	align-items: center;
	padding: 26px 0 26px;

	@media #{$not-mobile} {
		margin: 0 42px;
	}

	@media #{$desktop-only} {
		position: absolute;
		width: 565px;
		min-height: 198px;
		padding: 56px 60px;
		z-index: 1;
		background-color: #ffffff;
		top: 95px;
		left: 110px;
	}
}

.address__title {
	font-family: var(--accent-font);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin: 0;
}

.address__number {
	line-height: 20px;
	font-style: normal;
	margin-left: auto;
}

.address__map-img {
	display: block;
	width: 100%;
	position: relative;
}
