.advantages__item {
	display: flex;
	gap: 20px;

	&--icon_leaf {
		--icon: url("../../icons/stack.svg#leaf");
	}

	&--icon_powder {
		--icon: url("../../icons/stack.svg#leaf");
	}

	&--icon_eat {
		--icon: url("../../icons/stack.svg#eat");
	}

	&--icon_time {
		--icon: url("../../icons/stack.svg#time");
	}

	&::before {
		content: "";
		display: block;
		min-width: 60px;
		height: 60px;
		background: #68b738 var(--icon) no-repeat center / 40px;

		@media #{$not-mobile} {
			width: 80px;
			height: 80px;
		}
	}
}
