.advantages__container {
	margin-bottom: 52px;

	@media #{$tablet-only} {
		margin-bottom: 28px;
	}

	@media #{$desktop-only} {
		margin: 69px 0 8px;
	}
}

.advantages__title {
	margin: 17px 0 40px;

	@media #{$not-mobile} {
		margin: 50px 0 72px;
	}
}

.advantages__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	counter-reset: number 0;

	@media #{$tablet-only} {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 134px;
		row-gap: 37px;
	}

	@media #{$desktop-only} {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}
}

.advantages__item {
	display: flex;
	align-items: center;
	gap: 22px;

	@media #{$not-mobile} {
		max-width: 232px;
		flex-direction: column;
		position: relative;
		font-size: 16px;
		line-height: 24px;
		gap: 31px;
		padding: 0 0 97px;
		align-items: start;
		counter-increment: number;
	}

	@media #{$desktop-only} {
		font-size: 16px;
		line-height: 24px;
		flex-direction: column;
		gap: 31px;
	}

	&--number_one {
		@media #{$not-mobile} {
			max-width: 230px;
		}
	}

	&--number_two {
		@media #{$not-mobile} {
			max-width: 246px;
			margin-left: 21px;
		}
	}

	&--number_three {
		@media #{$not-mobile} {
			max-width: 248px;
		}
	}

	&--number_four {
		@media #{$not-mobile} {
			max-width: 250px;
		}
	}

	&--icon_leaf {
		--icon: url("../../icons/stack.svg#leaf");
	}

	&--icon_powder {
		--icon: url("../../icons/stack.svg#powder");
	}

	&--icon_eat {
		--icon: url("../../icons/stack.svg#eat");
	}

	&--icon_time {
		--icon: url("../../icons/stack.svg#time");
	}

	&::before {
		content: "";
		display: block;
		min-width: 60px;
		height: 60px;
		background: #68b738 var(--icon) no-repeat center / 40px;

		@media #{$tablet-only} {
			align-self: start;
			min-width: 80px;
			height: 80px;
		}

		@media #{$desktop-only} {
			min-width: 80px;
			height: 80px;
			align-self: start;
		}
	}

	&::after {
		@media #{$not-mobile} {
			position: absolute;
			top: -39px;
			right: 0;
			content: counter(number);
			display: block;
			color: #f2f2f2;
			z-index: -1;
			font-family: var(--accent-font);
			font-style: normal;
			font-weight: 400;
			font-size: 280px;
			line-height: 280px;
		}
	}
}
