.button {
	font-family: var(--accent-font);
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	border: none;
	cursor: pointer;

	&:hover {
		background-color: #5eaa2f;
	}

	&:active {
		background-color: #5eaa2f;
		color: #8ec36d;
	}

	&--primary {
		background-color: var(--accent-color);
	}

	&--secondary {
		background-color: #f2f2f2;
		color: #444444;
	}
}
