.cat-information {
	position: relative;
	border: 0;
	display: flex;
	padding: 3px 0 25px;
	flex-direction: column;
	gap: 18px;

	@media #{$not-mobile} {
		gap: 20px;
	}

	@media #{$desktop-only} {
		padding: 0;
	}

	&::before {
		content: "";
		position: absolute;
		left: -18px;
		bottom: 0;
		height: 1px;
		width: 100vw;
		background-color: #d9d9d9;

		@media #{$not-mobile} {
			display: none;
		}
	}
}

.cat-information__wrapper {
	display: flex;
	gap: 13px;
	align-items: center;
}

.cat-information__cat-name-input {
	padding: 8px 19px;

	@media #{$not-mobile} {
		padding: 10px 19px;
	}

	@media #{$desktop-only} {
		padding: 10px 19px;
	}
}

.cat-information__cat-weight-input {
	padding: 8px 19px;

	@media #{$not-mobile} {
		padding: 10px 19px;
	}
}

.cat-information__cat-age-input {
	padding: 8px 19px;

	@media #{$not-mobile} {
		padding: 10px 19px;
	}
}
