.comment__title {
	position: relative;
	width: 143px;
	margin: 23px 0 37px;
	text-align: left;
	display: block;
	background-color: #ffffff;

	@media #{$not-mobile} {
		width: 220px;
		font-size: 16px;
		line-height: 16px;
		margin-top: 65px;
		margin-bottom: 76px;
	}

	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 13px;
		width: 100vw;
		height: 2px;
		background-color: #68b738;
		box-shadow: 100vw 0 0 #68b738;
		z-index: -1;

		@media #{$not-mobile} {
			top: 21px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		background-color: #ffffff;
		width: 38px;
		height: 40px;
		left: -38px;
		top: 0;
	}
}

.comment__text {
	height: 150px;
	padding: 8px 14px 13px;

	@media #{$not-mobile} {
		padding: 10px 19px;
		height: 173px;
	}
}
