.example {
	padding: 22px 0 40px;
	background-color: #eaeaea;
}

.example__description {
	margin: 20px 0 20px;
}

.example__list-wrapper {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}

.example__title {
	margin: 0 0 40px;
}

.example__item {
	display: flex;
	flex-direction: column;
	place-items: center;
}

.example__item--price {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.example__number {
	font-family: var(--accent-font);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 24px;
	color: #000000;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.example__item-description {
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	margin: 20px 0;
	order: 1;
}
