.example {
	background-color: #eaeaea;
	padding: 22px 0 45px;
	position: relative;
	display: grid;
	gap: 20px;

	@media #{$not-mobile} {
		background: linear-gradient(to bottom, #ffffff 598px, #eaeaea 598px);
		gap: 100px;
		padding-bottom: 101px;
	}

	@media #{$desktop-only} {
		background: linear-gradient(to bottom, #ffffff 157px, #eaeaea 157px);
		padding-bottom: 75px;
	}
}

.example__wrapper {
	@media #{$desktop-only} {
		max-width: 433px;
	}
}

.example__container {
	@media #{$desktop-only} {
		display: flex;
		gap: 228px;
	}
}

.example__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 32px;

	@media #{$not-mobile} {
		grid-template-columns: 1fr 1fr 2fr;
		margin-bottom: 99px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 162px 162px;
		margin: 70px 0 0;
		gap: 55px 4px;
	}
}

.example__description {
	margin: 20px 0 20px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 54px;
	}
}

.example__title {
	margin: 0 0 40px;

	@media #{$not-mobile} {
		margin: 0 0 63px;
	}

	@media #{$desktop-only} {
		margin: 0 0 124px;
	}
}

.example__item {
	display: flex;
	flex-direction: column;
	place-items: flex-start;

	max-width: 124px;

	&--days {
		justify-self: end;

		@media #{$not-mobile} {
			margin-left: 48px;
		}
	}

	&--price {
		flex-direction: row;
		align-items: center;
		grid-column: span 2;
		max-width: 220px;
		justify-content: center;
		margin: 0 auto;
		gap: 5px;

		@media #{$not-mobile} {
			grid-column: 4 / 5;
			flex-direction: column;
			gap: 9px;
		}

		@media #{$desktop-only} {
			grid-row: 2 / 3;
			grid-column: 1 / 3;
			flex-direction: row;
			gap: 63px;
		}
	}
}

.example__number {
	font-family: var(--accent-font);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 24px;
	color: #000000;
	line-height: 24px;
	padding: 15px 42px;
	margin: 0 0 6px 0;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	min-height: 56px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 30px;
		line-height: 37px;
		padding: 15px 57px 20px;
	}

	&--days {
		padding: 15px 22px 17px	21px;
		min-height: 57px;

		@media #{$not-mobile} {
			padding: 15px 30px 20px;
		}
	}

	&--price {
		border: none;
		font-family: var(--accent-font);
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		color: #000000;
		margin: 0;
		padding: 0;
		min-height: 0;
		gap: 5px;

		@media #{$not-mobile} {
			font-weight: 400;
			font-size: 20px;
			line-height: 20px;
			align-self: end;
		}
	}
}

.example__item-description {
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	order: 1;
	align-self: center;
	text-transform: lowercase;
	margin-top: -17px;
	background-color: #eaeaea;
	max-width: 87px;
	padding: 0 17px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
		background-color: #ffffff;
		max-width: 142px;
		min-width: 126px;
		margin-left: 38px;
		padding: 0;
	}

	@media #{$desktop-only} {
		background-color: #eaeaea;
	}

	&--price {
		font-family: var(--accent-font);
		order: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		color: #000000;
		margin: 0;
		padding: 0;

		@media #{$mobile-only} {
			max-width: 188px;
		}

		@media #{$not-mobile} {
			font-weight: 400;
			font-size: 20px;
			line-height: 20px;
			min-width: 174px;
		}
	}
}

.example__slider {
	margin: 0 auto;

	@media #{$desktop-only} {
		margin-top: -183px;
	}
}

.example__image {
	display: block;
}
