.field {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-transform: uppercase;
	border: 1px solid #e7e7e7;
	width: 100%;

	&:hover {
		border: 1px solid #cdcdcd;
	}

	&:focus-visible {
		outline: 2px solid #444444;
	}

	&[type="number"] {
		appearance: textfield;
	}

	&--status_error {
		border: 2px solid #ff8282;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}
}
