.form__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	margin: 38px 0 38px;
}

.form__cat-information {
	margin: 39px 0 46px;
}

.form__nutrition-program {
	margin: 46px 0 46px;
}

.form__owner {
	margin: 23px 0 23px;
}

.form__comment {
	margin: 23px 0 23px;
	display: block;
	text-align: center;
}

.form__additional {
	margin: 23px 0 34px;
}

.form__button {
	margin: 34px 0 21px;
	min-width: 100%;
	padding: 7px 44px;
}
