.form__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	margin: 38px 0 38px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		margin-left: 2px;
		margin-top: 50px;
		margin-bottom: 66px;
	}

	@media #{$desktop-only} {
		margin-top: 56px;
		margin-bottom: 66px;
	}
}

.form__container {
	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 80px;
		margin-top: 63px;
		margin-bottom: 63px;
	}
}

.form__cat-information {
	margin: 38px 0 0;

	@media #{$not-mobile} {
		margin-top: 66px;
		margin-bottom: 48px;
		margin-left: 2px;
	}

	@media #{$desktop-only} {
		margin: 0;
	}
}

.form__nutrition-program {
	margin: 22px 0 27px;

	@media #{$not-mobile} {
		margin-top: 48px;
		margin-bottom: 79px;
		margin-left: 2px;
	}

	@media #{$desktop-only} {
		margin: 0;
	}
}

.form__owner {
	margin: 23px 0 23px;

	@media #{$not-mobile} {
		margin-top: 71px;
		margin-bottom: 65px;
	}

	@media #{$desktop-only} {
		margin-top: 65px;
		margin-bottom: 67px;
	}
}

.form__comment {
	margin: 21px 0;

	@media #{$not-mobile} {
		margin: 65px 0 60px;
	}

	@media #{$desktop-only} {
		margin: 67px 0 63px;
	}
}

.form__additional {
	margin: 20px 0 34px;

	@media #{$not-mobile} {
		margin: 15px 0 54px;
	}

	@media #{$desktop-only} {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.form__button {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 34px 0 21px;
	min-width: 100%;
	padding: 10px 5px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 0px;
		padding: 13px 13px;
		min-width: 282px;
		min-height: 52px;
		display: block;
		margin: 0;
	}

	@media #{$desktop-only} {
		min-width: 568px;
	}
}

.form__warning {
	text-align: center;
	margin: 21px auto 32px;
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	@media #{$not-mobile} {
		margin: 0;
		justify-self: start;
		font-size: 16px;
		line-height: 16px;
	}
}

.form__wrapper {
	@media #{$not-mobile} {
		align-items: center;
		display: flex;
		gap: 64px;
		margin-left: 3px;
		margin-bottom: 76px;
	}

	@media #{$desktop-only} {
		gap: 84px;
		margin-bottom: 83px;
	}
}
