.hero {
	position: relative;
	padding: 21px 0;

	&::after {
		content: "";
		background: linear-gradient(rgb(104 183 56 / 0.85), rgb(104 183 56 / 0.85)), var(--bg-image) no-repeat;
		position: absolute;
		width: 320px;
		height: 302px;
		top: 0;
		left: 0;

		@include bg-image("cat-background");
	}
}

.hero__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	position: relative;
	z-index: 1;
	margin: 0;
}

.hero__slogan {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 29px 0;
}

.hero__img {
	display: block;
	position: relative;
	z-index: 1;
	margin: 3px 0 3px;
}

.hero__button {
	padding: 7px 44px;
	min-width: 280px;
}
