.hero {
	position: relative;
	padding: 25px 0;

	@media #{$not-mobile} {
		padding: 0;
	}

	@media #{$desktop-only} {
		position: static;
	}

	&::after {
		@media #{$mobile-only} {
			content: "";
			background: linear-gradient(rgb(104 183 56 / 0.85), rgb(104 183 56 / 0.85)), var(--bg-image) no-repeat center;
			background-color: #525156;
			background-position: cover;
			position: absolute;
			width: 100%;
			min-height: 302px;
			top: 0;
			left: 0;
		}

		@media #{$desktop-only} {
			content: "";
			position: absolute;
			background: linear-gradient(rgb(104 183 56 / 0.85), rgb(104 183 56 / 0.85)), var(--bg-image) no-repeat right;
			background-color: #525156;
			display: block;
			width: 50vw;
			height: 694px;
			right: 0;
			top: 0;
		}

		@include bg-image("cat-background");
	}
}

.hero__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	position: relative;
	z-index: 2;
	margin-bottom: 0;
	margin-top: 0;

	@media #{$not-mobile} {
		color: #000000;
		font-size: 60px;
		line-height: 60px;
		text-align: left;
		margin: 62px 87px 41px;
	}

	@media #{$desktop-only} {
		margin: 99px 79px 39px;
		max-width: 440px;
	}
}

.hero__slogan {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	text-align: center;
	margin-bottom: 29px;
	margin-top: 29px;

	@media #{$not-mobile} {
		color: #000000;
		font-size: 20px;
		line-height: 20px;
		text-align: left;
		margin: 41px 90px 49px;
	}

	@media #{$desktop-only} {
		margin: 37px 79px;
	}
}

.hero__img {
	display: block;
	position: relative;
	z-index: 1;
	margin: 3px auto 3px;

	@media #{$not-mobile} {
		margin-top: -28px;
	}

	@media #{$desktop-only} {
		position: absolute;
		left: 39%;
		top: 168px;
	}
}

.hero__button {
	min-width: 280px;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
		position: absolute;
		padding: 14px 26px;
		min-width: 244px;
		top: 232px;
		left: 120px;
		z-index: 1;
	}

	@media #{$desktop-only} {
		position: static;
		padding: 14px 26px;
		width: 244px;
		margin: 54px 79px;
	}
}
