.index-title {
	font-family: var(--accent-font);
	color: #000000;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;

	@media #{$tablet-only} {
		font-size: 60px;
		line-height: 60px;
	}

	@media #{$desktop-only} {
		font-size: 60px;
		line-height: 60px;
	}
}
