.main__hero {
	@media #{$not-mobile} {
		margin-bottom: 0;
	}

	@media #{$desktop-only} {
		margin-bottom: 82px;
	}
}

.main__title {
	margin-top: 29px;
	margin-bottom: 47px;

	@media #{$not-mobile} {
		margin-top: 65px;
		margin-bottom: 82px;
	}
}

.main__page-title {
	margin: 27px 0 27px;

	@media #{$not-mobile} {
		margin-top: 65px;
		margin-bottom: 54px;
	}

	@media #{$desktop-only} {
		margin-top: 73px;
		margin-bottom: 56px;
	}
}

.main__products {
	margin-top: 50px;
	margin-bottom: 50px;

	@media #{$not-mobile} {
		margin-bottom: 68px;
		margin-top: 68px;
	}

	@media #{$desktop-only} {
		margin-top: 76px;
		margin-bottom: 76px;
	}
}
