.main__hero {
	@media #{$not-mobile} {
		margin-bottom: 0;
	}

	@media #{$desktop-only} {
		margin-bottom: 82px;
		margin-top: 106px;
	}
}

.main__title {
	margin-top: 31px;
	margin-bottom: 38px;

	@media #{$not-mobile} {
		margin-top: 60px;
		margin-bottom: 75px;
	}

	@media #{$desktop-only} {
		margin-top: 70px;
		margin-bottom: 60px;
	}
}

.main__page-title {
	margin: 27px 0 27px;

	@media #{$not-mobile} {
		margin-top: 65px;
		margin-bottom: 49px;
	}

	@media #{$desktop-only} {
		margin-top: 70px;
		margin-bottom: 50px;
	}
}

.main__products {
	margin-top: 31px;
	margin-bottom: 33px;

	@media #{$not-mobile} {
		margin-bottom: 65px;
		margin-top: 68px;
	}

	@media #{$desktop-only} {
		margin-top: 65px;
		margin-bottom: 76px;
	}
}

.main__container {
	@media #{$tablet-only} {
		padding: 0 38px;
	}
}
