.nutrition-program {
	position: relative;
	border: none;
	padding: 0 0 18px;

	@media #{$not-mobile} {
		padding: 21px 28px;
		border: 1px solid #e7e7e7;
	}

	@media #{$desktop-only} {
		padding: 25px 28px;
	}

	&::before {
		content: "";
		position: absolute;
		left: -18px;
		bottom: 0;
		height: 1px;
		width: 100vw;
		background-color: #d9d9d9;

		@media #{$not-mobile} {
			display: none;
		}
	}
}

.nutrition-program__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 13px;

	@media #{$desktop-only} {
		gap: 11px;
	}
}

.nutrition-program__item {
	display: flex;
	gap: 20px;
	align-items: center;

	@media #{$desktop-only} {
		gap: 19px;
	}

	&:hover {
		opacity: 0.9;
	}

	&:active {
		opacity: 0.3;
	}
}

.nutrition-program__input {
	margin: 0;
	appearance: none;
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 50%;

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
	}

	&:checked::before {
		content: "";
		display: block;
		margin-top: calc(50% - 7px);
		margin-left: calc(50% - 7px);
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: #68b738;

		@media #{$not-mobile} {
			width: 18px;
			height: 18px;
			margin-top: calc(50% - 9px);
			margin-left: calc(50% - 9px);
		}
	}
}
