.nutrition-program-label {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #222222;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}
}
