.nutrition-program {
	position: relative;
	border: none;
	padding: 0 0 19px;

	@media #{$not-mobile} {
		padding: 25px 28px;
		border: 1px solid #e7e7e7;
	}

	&::before {
		content: "";
		position: absolute;
		left: -18px;
		bottom: 0;
		height: 1px;
		width: 100vw;
		background-color: #d9d9d9;

		@media #{$not-mobile} {
			display: none;
		}
	}
}

.nutrition-program__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.nutrition-program__item {
	display: flex;
	gap: 20px;
	align-items: center;

	&:hover {
		opacity: 0.9;
	}

	&:active {
		opacity: 0.3;
	}
}

.nutrition-program__wight-loss-input,
.nutrition-program__mass-gain-input,
.nutrition-program__advise-input {
	display: none;
}

.nutrition-program__radio {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #cdcdcd;
	border-radius: 50%;
	position: relative;

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: #68b738;
		opacity: 0;

		@media #{$not-mobile} {
			width: 18px;
			height: 18px;
		}
	}
}

.nutrition-program__wight-loss-input:checked + .nutrition-program__radio::before,
.nutrition-program__mass-gain-input:checked + .nutrition-program__radio::before,
.nutrition-program__advise-input:checked + .nutrition-program__radio::before {
	opacity: 1;
}
