.owner {
	border: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 14px;

	@media #{$not-mobile} {
		gap: 20px;
	}
}

.owner__title {
	position: relative;
	width: 204px;
	margin: 24px -3px 34px;
	background-color: #ffffff;


	@media #{$not-mobile} {
		width: 558px;
		margin-top: 65px;
		margin-bottom: 76px;

		&::after {
			content: "";
			position: absolute;
			display: block;
			background-color: #ffffff;
			width: 33px;
			height: 40px;
			left: -36px;
			top: 0;
		}
	}

	@media #{$desktop-only} {
		margin-top: 67px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 1px;
		right: 0;
		top: 15px;
		width: 100vw;
		height: 2px;
		background-color: #68b738;
		box-shadow: 100vw 0 0 #68b738;
		z-index: -1;

		@media #{$not-mobile} {
			top: 24px;
			left: -100px;
		}
	}
}

.owner__container {
	display: flex;
	flex-direction: column;
	gap: 12px;

	@media #{$not-mobile} {
		gap: 19px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 78px;
	}
}

.owner__wrapper {
	display: flex;
	gap: 6px;
	align-items: center;

	@media #{$not-mobile} {
		gap: 20px;
	}
}

.owner__email {
	font-family: var(--accent-font);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
	}
}

.owner__email-input {
	position: relative;
	padding: 14px 35px 14px 15px;

	@media #{$not-mobile} {
		padding: 11px 35px 11px 19px;
	}
}

.owner__tel {
	font-family: var(--accent-font);
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
	}
}

.owner__tel-input {
	padding: 14px 35px 14px 15px;

	@media #{$not-mobile} {
		padding: 11px 35px 11px 16px;
	}
}

.owner__email-icon {
	display: block;
	width: 20px;
	height: 20px;
	mask: url("../../icons/stack.svg#email") no-repeat center;
	background: #000000;
	position: absolute;
	left: 83%;

	@media #{$not-mobile} {
		left: 86%;
	}

	@media #{$desktop-only} {
		left: 45%;
	}
}

.owner__tel-icon {
	display: block;
	width: 20px;
	height: 20px;
	mask: url("../../icons/stack.svg#tel") no-repeat center;
	background: #000000;
	position: absolute;
	left: 83%;

	@media #{$not-mobile} {
		left: 86%;
	}

	@media #{$desktop-only} {
		left: 90%;
	}
}
