.owner {
	border: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.owner__title {
	margin: 25px 0 36px;
}

.owner__wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}

.owner__email-input {
	position: relative;
}

.owner__email-icon {
	display: block;
	width: 20px;
	height: 20px;
	mask: url("../../icons/stack.svg#email") no-repeat center;
	background: #000000;
	position: absolute;
	left: 83%;
}

.owner__tel-icon {
	display: block;
	width: 20px;
	height: 20px;
	mask: url("../../icons/stack.svg#tel") no-repeat center;
	background: #000000;
	position: absolute;
	left: 83%;
}
