.page-footer {
	background-color: #f2f2f2;
	padding: 14px 0 20px;

	@media #{$not-mobile} {
		padding: 75px 0;
	}

	@media #{$desktop-only} {
		padding: 60px 0;
	}
}

.page-footer__container {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;

	@media #{$not-mobile} {
		grid-template-columns: repeat(3, 1fr);
	}
}

.page-footer__logo {
	justify-self: center;
	padding: 20px 0 20px;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.3;
	}

	@media #{$not-mobile} {
		justify-self: start;
	}
}

.page-footer__logo-text {
	display: block;
	object-fit: cover;
}

.page-footer__social-list {
	margin: 0;
	padding: 20px 0 20px;
	list-style-type: none;
	display: flex;
	gap: 24px;
}

.page-footer__social-link {
	--icon-fill: #666666;
	--icon-fill-hover: #68b738;

	&:hover {
		--icon-fill: var(--icon-fill-hover);
	}

	&--social_vk {
		--icon: url("../../icons/stack.svg#vk");
	}

	&--social_youtube {
		--icon: url("../../icons/stack.svg#youtube");
	}

	&--social_telegram {
		--icon: url("../../icons/stack.svg#telegram");
	}

	&::before {
		content: "";
		display: block;
		width: 28px;
		height: 22px;
		mask: var(--icon) no-repeat center;
		background: var(--icon-fill);
	}
}

.page-footer__academy-logo {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 0 20px;
	color: #666666;

	@media #{$not-mobile} {
		justify-content: end;
	}
}

.page-footer__academy-link {
	--icon-fill: #666666;
	--icon-fill-hover: #68b738;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	color: #666666;
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	text-decoration: none;

	&:hover {
		--icon-fill: var(--icon-fill-hover);
	}

	&:active {
		opacity: 0.3;
		--icon-fill: var(--icon-fill-hover);
	}

	@media #{$desktop-only} {
		justify-content: center;
	}
}

.page-footer__academy-logo-image {
	--icon-fill: #666666;
	--icon-fill-hover: #68b738;
	display: block;

	&:hover {
		--icon-fill: var(--icon-fill-hover);
	}

	&:active {
		opacity: 0.3;
		--icon-fill: var(--icon-fill-hover);
	}

	&::after {
		content: "";
		display: block;
		width: 40px;
		height: 40px;
		mask: url("../../icons/stack.svg#htmlacademy") no-repeat center;
		background: var(--icon-fill);
	}
}
