.page-footer {
	background-color: #f2f2f2;
}

.page-footer__social-link--vk {
	&::before {
		content: "";
		display: block;
		width: 28px;
		height: 22px;
		mask: url("../../icons/stack.svg#vk") no-repeat center;
		background: currentColor;
	}
}

.page-footer__social-link--youtube {
	&::before {
		content: "";
		display: block;
		width: 28px;
		height: 22px;
		mask: url("../../icons/stack.svg#youtube") no-repeat center;
		background: currentColor;
	}
}

.page-footer__social-link--telegram {
	&::before {
		content: "";
		display: block;
		width: 28px;
		height: 22px;
		mask: url("../../icons/stack.svg#telegram") no-repeat center;
		background: currentColor;
	}
}
