.page-title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: #000000;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 60px;
		line-height: 60px;
	}
}
