.page-footer {
	background-color: #f2f2f2;
	padding: 14px 0 20px;

	@media #{$not-mobile} {
		padding: 75px 0;
	}

	@media #{$desktop-only} {
		padding: 60px 0;
	}
}

.page-footer__container {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;

	@media #{$not-mobile} {
		grid-template-columns: repeat(3, 1fr);
	}
}

.page-footer__logo {
	justify-self: center;
	padding: 20px 0 20px;

	@media #{$not-mobile} {
		justify-self: start;
	}
}

.page-footer__logo-text {
	display: block;
	object-fit: cover;
}

.page-footer__social-list {
	margin: 0;
	padding: 20px 0 20px;
	list-style-type: none;
	display: flex;
	gap: 24px;
}

.page-footer__social-link {
	color: #666666;

	&--social_vk {
		&::before {
			content: "";
			display: block;
			width: 28px;
			height: 22px;
			mask: url("../../icons/stack.svg#vk") no-repeat center;
			background: currentColor;
		}
	}

	&--social_youtube {
		&::before {
			content: "";
			display: block;
			width: 28px;
			height: 22px;
			mask: url("../../icons/stack.svg#youtube") no-repeat center;
			background: currentColor;
		}
	}

	&--social_telegram {
		&::before {
			content: "";
			display: block;
			width: 28px;
			height: 22px;
			mask: url("../../icons/stack.svg#telegram") no-repeat center;
			background: currentColor;
		}
	}
}

.page-footer__academy-logo {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 0 20px;
	color: #666666;

	@media #{$not-mobile} {
		gap: 28px;
		justify-content: end;
	}
}

.page-footer__academy-logo-text {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	padding: 12px 0;
}

.page-footer__academy-link {
	color: #666666;
}

.page-footer__academy-logo-img {
	object-fit: cover;
	fill: currentColor;
}
