.page-header {
	position: relative;
	z-index: 20;
	display: flex;
	flex-direction: column;
	min-height: 64px;
	justify-content: center;

	@media #{$not-mobile} {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		min-height: 51px;

		@media #{$desktop-only} {
			padding: 44px 0 0;
		}
	}
}

.page-header__navigation {
	@media #{$desktop-only} {
		padding: 10px 0;
	}
}

.page-header__logo {
	display: flex;
	align-items: center;
	gap: 57px;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.3;
	}

	@media #{$not-mobile} {
		gap: 12px;
	}

	@media #{$desktop-only} {
		margin-top: 10px;
	}
}

.page-header__logo-text {
	object-fit: cover;

	@media #{$not-mobile} {
		margin: 2px 0;
		display: block;
	}
}

.page-header__logo-image {
	object-fit: cover;
}
