.present {
	position: relative;
	min-height: 290px;
	background: linear-gradient(rgb(104 183 56 / 0.85), rgb(104 183 56 / 0.85)), var(--bg-image) no-repeat;

	@include bg-image("catalog-background");
}

.present__description {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	position: relative;
	z-index: 1;
}
