.present {
	padding: 43px 58px;
	position: relative;
	min-height: 290px;
	background: linear-gradient(rgb(104 183 56 / 0.85), rgb(104 183 56 / 0.85)), var(--bg-image) no-repeat center;

	@media #{$not-mobile} {
		position: relative;
		min-height: 200px;
		padding: 71px 124px;
	}

	@media #{$desktop-only} {
		position: relative;
		max-width: 245px;
		min-height: 289px;
	}

	&::before {
		content: "";
		display: block;
		margin: 15px auto 48px;
		width: 78px;
		height: 80px;
		background: url("../../icons/stack.svg#present");

		@media #{$tablet-only} {
			position: absolute;
			width: 80px;
			height: 83px;
			top: 57px;
			left: 77px;
			margin: 0 auto;
		}

		@media #{$desktop-only} {
			position: absolute;
			margin: 0;
			width: 80px;
			height: 83px;
			left: calc(50% - 40px);
			top: 56px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #d9d9d9;
		top: -37px;
		right: 0;

		@media #{$not-mobile} {
			display: none;
		}
	}

	@include bg-image("catalog-background");
}

.present__description {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 0 auto;
	width: 161px;

	@media #{$tablet-only} {
		text-align: left;
		margin-left: auto;
		margin-right: 0;
	}

	@media #{$desktop-only} {
		position: absolute;
		left: calc(50% - 80px);
		top: 185px;
	}
}
