.product-show-all {
	position: relative;
	padding: 20px 0;

	@media #{$not-mobile} {
		padding: 0;
		align-self: end;
		display: block;
		max-width: 324px;
		min-height: 429px;
	}

	@media #{$desktop-only} {
		padding: 43px 30px 40px 35px;
		max-width: 245px;
		justify-self: end;
		border: 2px solid #f2f2f2;
		align-self: flex-end;
	}

	&::before {
		content: "";
		display: block;
		margin: 5px auto 23px;
		width: 30px;
		height: 30px;
		background: url("../../icons/stack.svg#plus") no-repeat center;

		@media #{$not-mobile} {
			width: 60px;
			height: 60px;
			margin: 52px auto 49px;
		}

		@media #{$desktop-only} {
			margin: 52px auto 40px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		width: 100vw;
		height: 1px;
		background-color: #d9d9d9;
		box-shadow: 100vw 0 0 #d9d9d9;
		top: 0;
		right: 0;

		@media #{$not-mobile} {
			display: none;
		}
	}
}

.product-show-all__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin: 8px 0;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 22px;
		margin: 23px auto 23px;
		width: 178px;
	}
}

.product-show-all__description {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 7px;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 18px;
		width: 165px;
		margin: 23px auto 87px;
	}
}

.product-show-all__link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 94px;


	@media #{$not-mobile} {
		padding: 20px 74px;
		font-size: 16px;
		line-height: 0;
		max-width: 249px;
		margin: 0 auto;
	}

	@media #{$desktop-only} {
		padding: 20px 39px;
		width: 169px;
	}
}
