.product--show-all {
	&::before {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		background: url("../../icons/stack.svg#plus-mobile");

		@media (min-width: 768px) {
			width: 60px;
			height: 60px;
			background: url("../../icons/stack.svg#plus-tablet");
		}
	}
}

.product__name {
	font-family: var(--accent-font);
	text-transform: uppercase;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.product__title {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;

	&--show-all {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #000000;
	}
}

.product__description {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
