.products__list {
	list-style: none;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
		gap: 55px 60px;
	}

	@media #{$desktop-only} {
		gap: 44px 80px;
		grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	}
}

.products__item {
	margin: 9px 0 9px;

	@media #{$not-mobile} {
		margin: 0;
		justify-self: center;
	}
}
