.product {
	position: relative;
	padding: 14px 0 14px;
	display: grid;
	row-gap: 3px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"image title"
		"image characteristics"
		"link link";


	@media #{$not-mobile} {
		margin: 0;
		padding: 36px 36px 39px 36px;
		width: 324px;
		display: flex;
		flex-direction: column;
	}

	@media #{$desktop-only} {
		width: 245px;
	}

	&--size_big {
		@media #{$not-mobile} {
			padding: 8px 36px 39px 36px;
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 100vw;
		height: 1px;
		background-color: #d9d9d9;
		box-shadow: 100vw 0 0 #d9d9d9;
		top: 0;
		right: 0;
	}
}

.product__name {
	font-family: var(--accent-font);
	text-transform: uppercase;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin: 8px 0 3px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 24px;
		align-self: center;
	}
}

.product__image-wrapper {
	grid-area: image;
	margin-top: 7px;

	@media #{$not-mobile} {
		order: -1;
		align-self: center;
	}
}

.product__title {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-align: center;

	&--show-all {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #000000;
		margin: 8px;
		text-transform: uppercase;
	}
}

.product__characteristics-wrapper {
	grid-area: characteristics;
	display: flex;
	justify-content: space-between;


	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 16px;
	}
}

.product__characteristics {
	margin: 0 0 8px;
}

.product__description {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
	padding: 0;

	&--show-all {
		margin-bottom: 21px;
		text-align: center;
	}
}

.product__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	grid-area: link;
	padding: 10px 109px;
	margin-top: 6px;

	@media #{$not-mobile} {
		margin-top: auto;
	}

	@media #{$desktop-only} {
		display: grid;
		place-items: center;
		padding: 10px 53px;
	}
}
