.programs__container {
	margin-bottom: 10px;
	display: flex;
	gap: 20px;
	flex-direction: column;

	@media #{$not-mobile} {
		margin-bottom: 45px;
		gap: 30px;
	}

	@media #{$desktop-only} {
		margin-bottom: 74px;
		margin-top: 268px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 80px;
	}
}
