.weight-loss {
	background-color: #f2f2f2;
	padding: 20px;

	@media #{$tablet-only} {
		padding: 77px 62px 53px 52px;
	}
}

.weight-loss__title {
	display: flex;
	margin: -6px 0 18px;
	align-items: center;
	gap: 8px;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	color: #000000;

	@media #{$tablet-only} {
		position: relative;
		font-size: 36px;
		line-height: 36px;
	}

	&::before {
		content: "";
		display: block;
		width: 68px;
		height: 68px;
		background: url("../../icons/stack.svg#weight-loss");
		margin-left: -6px;
		margin-top: -11px;

		@media #{$tablet-only} {
			width: 272px;
			height: 272px;
			position: absolute;
			right: -6%;
			top: -13px;
		}

		@media #{$desktop-only} {
			width: 136px;
			height: 136px;
		}
	}
}

.weight-loss__description {
	margin-top: 16px;
	margin-bottom: 22px;

	@media #{$tablet-only} {
		font-size: 16px;
		line-height: 24px;
		width: 58%;
		margin: 24px 0 24px;
	}

	@media #{$desktop-only} {
		width: 80%;
	}
}

.weight-loss__link {
	margin-top: 40px;

	@media #{$not-mobile} {
		margin-top: 55px;
	}
}
