.weight-gain {
	background-color: #f2f2f2;
}

.weight-gain__title {
	&::before {
		content: "";
		display: block;
		width: 68px;
		height: 50px;
		background: url("../../icons/stack.svg#mass-gain-mobile");

		@media (min-width: 768px) {
			width: 269px;
			height: 200px;
			background: url("../../icons/stack.svg#mass-gain-tablet");
		}

		@media (min-width: 1280px) {
			width: 135px;
			height: 100px;
			background: url("../../icons/stack.svg#mass-gain-desktop");
		}
	}
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	color: #000000;
}
