.weight-gain {
	background-color: #f2f2f2;
}

.weight-gain__title {
	&::before {
		content: "";
		display: block;
		width: 68px;
		height: 68px;
		background: url("../../icons/stack.svg#mass-gain");

		@media #{$not-mobile} {
			width: 272px;
			height: 272px;
		}

		@media #{$desktop-only} {
			width: 136px;
			height: 136px;
		}
	}
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	color: #000000;
}
