.weight-gain {
	background-color: #f2f2f2;
	padding: 20px;

	@media #{$tablet-only} {
		padding: 77px 62px 53px 52px;
	}

	@media #{$desktop-only} {
		padding: 55px 52px;
	}
}

.weight-gain__title {
	display: flex;
	gap: 9px;
	margin: -10px 0 0;
	align-items: center;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	color: #000000;

	@media #{$tablet-only} {
		max-width: 300px;
		position: relative;
		font-size: 36px;
		line-height: 36px;
		margin: 3px 0;
	}

	@media #{$desktop-only} {
		font-size: 36px;
		line-height: 36px;
		margin: -24px 0 22px;
		gap: 44px;
	}

	&::before {
		content: "";
		display: block;
		width: 68px;
		height: 68px;
		background: url("../../icons/stack.svg#mass-gain");
		margin-left: -7px;

		@media #{$tablet-only} {
			width: 272px;
			height: 272px;
			position: absolute;
			background-size: 272px;
			left: 368px;
			top: -25px;
		}

		@media #{$desktop-only} {
			width: 136px;
			height: 136px;
			margin-left: -17px;
		}
	}
}

.weight-gain__description {
	@media #{$tablet-only} {
		max-width: 450px;
		font-size: 16px;
		line-height: 24px;
		width: 58%;
		margin: 24px 0 24px;
	}

	@media #{$desktop-only} {
		font-size: 16px;
		line-height: 24px;
	}
}

.weight-gain__link {
	margin-top: 37px;

	@media #{$not-mobile} {
		margin-top: 52px;
	}

	@media #{$desktop-only} {
		margin-top: 28px;
	}
}
