.weight-gain {
	background-color: #f2f2f2;
}

.weight-gain__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	color: #000000;
}

.weight-gain__link {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
