<section class="address{% if permalink == "./" %} address--background_lighter {% endif %}">
	<div class="page__centerer">
		<div class="address__wrapper">
			<h2 class="address__title">
				Приглашаем<br> к сотрудничеству<br> дилеров!
			</h2>
			<address class="address__number">
				Ул. Большая <br> Конюшенная, д. 19/8 <br> <span class="address__number-city"> Санкт-Петербург</span>
			</address>
		</div>
	</div>
	<div class="address__map">
		<iframe class="address__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6271089845297!2d30.32182431045305!3d59.9383295192359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1682928099402!5m2!1sru!2sru" width="320" height="368"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<div class="address__img-wrapper">
			<noscript>
				{% include "./picture.twig" with {name: "map", class: "address__map-img", alt: "Карта."} %}
			</noscript>
		</div>
	</div>
</section>
