<footer class="page-footer">
	<div class="page__centerer">
		<div class="page-footer__container">
			<a href="" class="page-footer__logo">
				<picture>
					<source media="(min-width: 1280px)" srcset="./img/logo.svg#text" width="118" height="22">
					<source media="(min-width: 768px)" srcset="./img/logo.svg#text" width="102" height="19">
					<img class="page-footer__logo-text" src="./img/logo.svg#text" width="128" height="24" alt="Текст логотипа Кэт Энерджи.">
				</picture>
			</a>
			<ul class="page-footer__social-list">
				<li class="page-footer__social-item">
					<a href="#" class="page-footer__social-link page-footer__social-link--social_vk">
						<span class="visually-hidden">
							В контакте
						</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a href="#" class="page-footer__social-link page-footer__social-link--social_youtube">
						<span class="visually-hidden">
							Ютуб
						</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a href="#" class="page-footer__social-link page-footer__social-link--social_telegram">
						<span class="visually-hidden">
							Телеграмм
						</span>
					</a>
				</li>
			</ul>
			<div class="page-footer__academy-logo">
				<p class="page-footer__academy-logo-text">
					HTML Academy
				</p>
				<a href="" class="page-footer__academy-link">
					<img class="page-footer__academy-logo-img" src="./icons/stack.svg#htmlacademy" width="27" height="34" alt="Сайт html academy.">
				</a>
			</div>
		</div>
	</div>
</footer>
