<footer class="page-footer">
	<div class="page__centerer">
		<div class="page-footer__container">
			<a class="page-footer__logo" href="./" {% if permalink == "./" %}aria-current="page"{% endif %}>
				<picture>
					<source media="(min-width: 1280px)" srcset="./img/logo.svg#text" width="143" height="27">
					<source media="(min-width: 768px)" srcset="./img/logo.svg#text" width="143" height="27">
					<img class="page-footer__logo-text" src="./img/logo.svg#text" width="128" height="24" alt="Текст логотипа Кэт Энерджи.">
				</picture>
			</a>
			<ul class="page-footer__social-list">
				<li class="page-footer__social-item">
					<a href="#" class="page-footer__social-link page-footer__social-link--social_vk">
						<span class="visually-hidden">
							В контакте
						</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a href="#" class="page-footer__social-link page-footer__social-link--social_youtube">
						<span class="visually-hidden">
							Ютуб
						</span>
					</a>
				</li>
				<li class="page-footer__social-item">
					<a href="#" class="page-footer__social-link page-footer__social-link--social_telegram">
						<span class="visually-hidden">
							Телеграмм
						</span>
					</a>
				</li>
			</ul>
			<a href="" class="page-footer__academy-link">
				<span class="visually-hidden">Разработано в </span>
				HTML Academy
			</a>
		</div>
	</div>
</footer>
