<footer class="page-footer">
	<a href="" class="page-footer__logo">
		<img class="page-footer__logo-text logo-text" src="#" alt="Кэт Энерджи.">
	</a>
	<ul class="page-footer__social-list">
		<li class="page-footer__social-item">
			<a href="" class="page-footer__social-link page-footer__social-link--vk">
				<span class="visually-hidden">
					В контакте
				</span>
			</a>
		</li>
		<li class="page-footer__social-item">
			<a href="" class="page-footer__social-link page-footer__social-link--youtube">
				<span class="visually-hidden">
					Ютуб
				</span>
			</a>
		</li>
		<li class="page-footer__social-item">
			<a href="" class="page-footer__social-link page-footer__social-link--telegram">
				<span class="visually-hidden">
					Телеграмм
				</span>
			</a>
		</li>
	</ul>
	<div class="page-footer__academy-logo">
		<img class="page-footer__academy-logo-text" src="#" alt="HTML Academy.">
		<img class="page-footer__academy-logo-image" src="#" alt="Логотип HTML Academy.">
	</div>
</footer>
