<header class="page-header">
	<a class="page-header__logo" href="#">
		<picture>
			<source media="(min-width: 1280px)" srcset="./img/logo.svg#logo-img-desktop" width="71" height="59">
			<source media="(min-width: 768px)" srcset="./img/logo.svg#logo-img-tablet" width="61" height="50">
			<img class="page-header__logo-image" src="./img/logo.svg#logo-img-mobile" width="34" height="38" alt="Фото логотипа Кэт Энерджию.">
		</picture>
		<picture>
			<source media="(min-width: 1280px)" srcset="./img/logo.svg#logo-text-desktop" width="118" height="22">
			<source media="(min-width: 768px)" srcset="./img/logo.svg#logo-text-tablet" width="102" height="19">
			<img class="page-header__logo-text" src="./img/logo.svg#logo-text-mobile" width="101" height="18" alt="Текст логотипа Кэт Энерджи.">
		</picture>
	</a>
	<nav class="navigation">
		<button class="navigation__toggle" type="button">
			<span class="visually-hidden">
				Открыть/закрыть выпадающее меню
			</span>
		</button>
		<div class="navigation__container">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a class="navigation__link navigation-link navigation__link--active" href="#">
						Главная
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link navigation-link" href="../catalog.html">
						Каталог продукции
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link navigation-link" href="#">
						Подбор программы
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
