<header class=" page__centerer page-header">
	<a class="page-header__logo" href="./" {% if permalink=="./" %} aria-current="page" {% endif %}>
		<picture>
			<source media="(min-width: 1280px)" srcset="./img/logo.svg#img-desktop" width="71" height="59">
			<source media="(min-width: 768px)" srcset="./img/logo.svg#img-tablet" width="61" height="50">
			<img class="page-header__logo-image" src="./img/logo.svg#img-mobile" width="34" height="37" alt="Фото логотипа Кэт Энерджию.">
		</picture>
		<picture>
			<source media="(min-width: 1280px)" srcset="./img/logo.svg#text" width="118" height="22">
			<source media="(min-width: 768px)" srcset="./img/logo.svg#text" width="102" height="18">
			<img class="page-header__logo-text" src="./img/logo.svg#text" width="101" height="23" alt="Текст логотипа Кэт Энерджи.">
		</picture>
	</a>
	<nav class="page-header__navigation navigation navigation--nojs {% if permalink == "./" %} navigation--text_lighter {% endif %}">
		<button class="navigation__toggle" type="button">
			<span class="visually-hidden">
				Открыть/закрыть выпадающее меню
			</span>
		</button>
		<div class="navigation__container">
			<ul class="navigation__list">
				{% for page in pages %}
				<li class="navigation__item">
					<a class="navigation__link" href="{{ page.path }}" {% if permalink==page.path %} aria-current="page" {% endif %}>
						{{ page.name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</header>
