<header class="page-header">
	<a class="page-header__logo" href="#">
		<img class="page-header__logo-image" src="#" alt="Логотип Кэт Энерджи.">
		<img class="page-header__logo-text logo-text" src="#" alt="Кэт Энерджи.">
	</a>
	<nav class="navigation">
		<button class="navigation__toggle" type="button">
			<span class="visually-hidden">
				Открыть/закрыть выпадающее меню
			</span>
		</button>
		<div class="navigation__container">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a class="navigation__link navigation__link--active" href="#">
						Главная
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="../catalog.html">
						Каталог продукции
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#">
						Подбор программы
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
