<header class="page-header">
	<a class="page-header__logo" href="#">
		<img class="page-header__logo-image" src="#" alt="Логотип Кэт Энерджи.">
		<img class="page-header__logo-title" src="#" alt="Кэт Энерджи">
	</a>
	<nav class="navigation">
		<button class="navigation-toggle" type="button">
			<span class="visually-hidden">
				Открыть/закрыть выпадающее меню
			</span>
		</button>
		<div class="navigation__container">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a class="navigation__link navigation__link--active" href="#">
						ГЛАВНАЯ
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#">
						КАТАЛОГ ПРОДУКЦИИ
					</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#">
						ПОДБОР ПРОГРАММЫ
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
