{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main">
		<div class="page__centerer">
			<h1 class="main__title page-title">
			Каталог продукции
			</h1>
		</div>
	<section class="page__centerer main__products products">
		<h2 class="visually-hidden">
			Карточки товаров
		</h2>
		<ul class="products__list">
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy PRO 500 г
				</h3>
				<div class="product__image-wrapper">
					{% include "./templates/picture.twig" with {name: "products/chicken500", class: "product__image", alt: "Cat Energy PRO 500г со вкусом курицы."} %}
				</div>
				<dl class="product__characteristics">
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Масса
						</dt>
						<dd class="product__description">
							500 г
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Вкус
						</dt>
						<dd class="product__description">
							Курица
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Цена
						</dt>
						<dd class="product__description">
							700 &#8381;
						</dd>
					</div>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product product--size_big">
				<h3 class="product__name">
					Cat Energy PRO 1000 г
				</h3>
				<div class="product__image-wrapper product__image-wrapper--size_big">
					{% include "./templates/picture.twig" with {name: "products/chicken1000", class: "product__image", alt: "Cat Energy PRO 1000г со вкусом курицы."} %}
				</div>
				<dl class="product__characteristics">
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Масса
						</dt>
						<dd class="product__description">
							1000 г
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Вкус
						</dt>
						<dd class="product__description">
							Курица
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Цена
						</dt>
						<dd class="product__description">
							1000 &#8381;
						</dd>
					</div>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy PRO 500 г
				</h3>
				<div class="product__image-wrapper">
					{% include "./templates/picture.twig" with {name: "products/fish500", class: "product__image", alt: "Cat Energy PRO 500г со вкусом рыбы."} %}
				</div>
				<dl class="product__characteristics">
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Масса
						</dt>
						<dd class="product__description">
							500 г
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Вкус
						</dt>
						<dd class="product__description">
							Рыба
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Цена
						</dt>
						<dd class="product__description">
							700 &#8381;
						</dd>
					</div>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product product--size_big">
				<h3 class="product__name">
					Cat Energy PRO 1000 г
				</h3>
				<div class="product__image-wrapper product__image-wrapper--size_big">
					{% include "./templates/picture.twig" with {name: "products/fish1000", class: "product__image", alt: "Cat Energy PRO 1000г со вкусом рыбы."} %}
				</div>
				<dl class="product__characteristics">
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Масса
						</dt>
						<dd class="product__description">
							1000 г
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Вкус
						</dt>
						<dd class="product__description">
							Рыба
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Цена
						</dt>
						<dd class="product__description">
							1000 &#8381;
						</dd>
					</div>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy slim 500 г
				</h3>
				<div class="product__image-wrapper">
					{% include "./templates/picture.twig" with {name: "products/buckwheat500", class: "product__image", alt: "Cat Energy slim 500 г со вкусом гречки."} %}
				</div>
				<dl class="product__characteristics">
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Масса
						</dt>
						<dd class="product__description">
							500 г
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Вкус
						</dt>
						<dd class="product__description">
							Гречка
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Цена
						</dt>
						<dd class="product__description">
							400 &#8381;
						</dd>
					</div>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product product--size_big">
				<h3 class="product__name">
					Cat Energy slim 1000 г
				</h3>
				<div class="product__image-wrapper product__image-wrapper--size_big">
					{% include "./templates/picture.twig" with {name: "products/buckwheat1000", class: "product__image", alt: "Cat Energy slim 1000 г со вкусом гречки"} %}
				</div>
				<dl class="product__characteristics">
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Масса
						</dt>
						<dd class="product__description">
							1000 г
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Вкус
						</dt>
						<dd class="product__description">
							Гречка
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Цена
						</dt>
						<dd class="product__description">
							700 &#8381;
						</dd>
					</div>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy slim 500 г
				</h3>
				<div class="product__image-wrapper">
				{% include "./templates/picture.twig" with {name: "products/rice500", class: "product__image", alt: "Cat Energy slim 500 г со вкусом риса."} %}
				</div>
				<dl class="product__characteristics">
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Масса
						</dt>
						<dd class="product__description">
							500 г
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Вкус
						</dt>
						<dd class="product__description">
							Рис
						</dd>
					</div>
					<div class="product__characteristics-wrapper">
						<dt class="product__title">
							Цена
						</dt>
						<dd class="product__description">
							500 &#8381;
						</dd>
					</div>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product-show-all">
				<strong class="product-show-all__title">
					Показать еще 100500 товаров
				</strong>
				<p class="product-show-all__description">
					На самом деле вкусов гораздо больше!
				</p>
				<a class="product-show-all__link button button--secondary" href="#">
					Показать все
				</a>
			</li>
		</ul>
	</section>
	<section class="page__centerer additional-products">
		<h2 class="additional-products__title">
			Дополнительные товары
		</h2>
		<div class="additional-products__container">
			<ul class="additional-products__list">
				<li class="additional-products__item additional-product">
					<div class="additional-product__wrapper">
						<h3 class="additional-product__title">
							Сахарозаменитель
						</h3>
						<dl class="additional-product__characteristics">
							<dt class="visually-hidden">
								Объем
							</dt>
							<dd class="additional-product__value  additional-product__value--volume">
								1 упаковка (100 г)
							</dd>
							<dt class="visually-hidden">
								Цена
							</dt>
							<dd class="additional-product__value additional-product__value--price">
								200 ₽
							</dd>
						</dl>
					</div>
					<a class="additional-product__link button button--primary" href="#">
						Заказать
					</a>
				</li>
				<li class="additional-products__item additional-product">
					<div class="additional-product__wrapper">
						<h3 class="additional-product__title">
							Питьевая вода
						</h3>
						<dl class="additional-product__characteristics">
								<dt class="visually-hidden">
								Объем
							</dt>
							<dd class="additional-product__value additional-product__value--volume">
								5 литров
							</dd>
							<dt class="visually-hidden">
								Цена
							</dt>
							<dd class="additional-product__value additional-product__value--price">
								50 ₽
							</dd>
						</dl>
					</div>
					<a class="additional-product__link button button--primary" href="#">
						Заказать
					</a>
				</li>
				<li class="additional-products__item additional-product">
					<div class="additional-product__wrapper">
						<h3 class="additional-product__title">
							Молоко
						</h3>
						<dl class="additional-product__characteristics">
							<dt class="visually-hidden">
								Объем
							</dt>
							<dd class="additional-product__value additional-product__value--volume">
								1 литр
							</dd>
							<dt class="visually-hidden">
								Цена
							</dt>
							<dd class="additional-product__value additional-product__value--price">
								100 ₽
							</dd>
						</dl>
					</div>
					<a class="additional-product__link button button--primary" href="#">
						Заказать
					</a>
				</li>
				<li class="additional-products__item additional-product">
					<div class="additional-product__wrapper">
						<h3 class="additional-product__title">
							Витамины
						</h3>
						<dl class="additional-product__characteristics">
							<dt class="visually-hidden">
								Объем
							</dt>
							<dd class="additional-product__value additional-product__value--volume">
								1 упаковка (30 г)
							</dd>
							<dt class="visually-hidden">
								Цена
							</dt>
							<dd class="additional-product__value additional-product__value--price">
								300 ₽
							</dd>
						</dl>
					</div>
					<a class="additional-product__link button button--primary" href="#">
						Заказать
					</a>
				</li>
			</ul>
			<div class="additional-products__present present">
				<p class="present__description">
					Закажите все<br>и получите чехол для кота в подарок!
				</p>
			</div>
		</div>
	</section>
	<section class="address">
		<div class="page__centerer">
			<div class="address__wrapper">
				<h2 class="address__title">
					Приглашаем<br> к сотрудничеству<br> дилеров!
				</h2>
				<address class="address__number">
					Ул. Большая <br> Конюшенная, д. 19/8 <br> <span class="address__number-city"> Санкт-Петербург</span>
				</address>
			</div>
		</div>
		<div class="address__map">
			<noscript>
				{% include "./templates/picture.twig" with {name: "map", class: "address__map-img", alt: "Карта."} %}
			</noscript>
			<iframe class="address__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6271089845297!2d30.32182431045305!3d59.9383295192359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1682928099402!5m2!1sru!2sru" width="320" height="368" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
</main>
{% endblock %}
