{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main">
	<h1 class="page-title">
		Каталог продукции
	</h1>
	<section class="products">
		<h2 class="visually-hidden">
			Карточки товаров
		</h2>
		<ul class="products__list">
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy PRO 500 г
				</h3>
				<img class="product__image" src="/img/products/chicken500-mobile.jpg" width="140" height="112" alt="Cat Energy PRO 500г со вкусом курицы.">
				<dl class="product__characteristics product">
					<dt class="product__title">
						Масса
					</dt>
					<dd class="product__description">
						500 г
					</dd>
					<dt class="product__title">
						Вкус
					</dt>
					<dd class="product__description">
						Курица
					</dd>
					<dt class="product__title">
						Цена
					</dt>
					<dd class="product__description">
						700 &#8381;
					</dd>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy PRO 1000 г
				</h3>
				<img class="product__image" src="/img/products/chicken1000-mobile.jpg" width="140" height="112" alt="Cat Energy PRO 1000г со вкусом курицы.">
				<dl class="product__characteristics product">
					<dt class="product__title">
						Масса
					</dt>
					<dd class="product__description">
						1000 г
					</dd>
					<dt class="product__title">
						Вкус
					</dt>
					<dd class="product__description">
						Курица
					</dd>
					<dt class="product__title">
						Цена
					</dt>
					<dd class="product__description">
						1000 &#8381;
					</dd>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy PRO 500 г
				</h3>
				<img class="product__image" src="/img/products/fish500-mobile.jpg" width="140" height="112" alt="Cat Energy PRO 500г со вкусом рыбы.">
				<dl class="product__characteristics product">
					<dt class="product__title">
						Масса
					</dt>
					<dd class="product__description">
						500 г
					</dd>
					<dt class="product__title">
						Вкус
					</dt>
					<dd class="product__description">
						Рыба
					</dd>
					<dt class="product__title">
						Цена
					</dt>
					<dd class="product__description">
						700 &#8381;
					</dd>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy PRO 1000 г
				</h3>
				<img class="product__image" src="/img/products/fish1000-mobile.jpg" width="140" height="112" alt="Cat Energy PRO 1000г со вкусом рыбы.">
				<dl class="product__characteristics product">
					<dt class="product__title">
						Масса
					</dt>
					<dd class="product__description">
						1000 г
					</dd>
					<dt class="product__title">
						Вкус
					</dt>
					<dd class="product__description">
						Рыба
					</dd>
					<dt class="product__title">
						Цена
					</dt>
					<dd class="product__description">
						1000 &#8381;
					</dd>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy slim 500 г
				</h3>
				<img class="product__image" src="/img/products/buckwheat500-mobile.jpg" width="140" height="112" alt="Cat Energy slim 500 г со вкусом гречки.">
				<dl class="product__characteristics product">
					<dt class="product__title">
						Масса
					</dt>
					<dd class="product__description">
						500 г
					</dd>
					<dt class="product__title">
						Вкус
					</dt>
					<dd class="product__description">
						Гречка
					</dd>
					<dt class="product__title">
						Цена
					</dt>
					<dd class="product__description">
						400 &#8381;
					</dd>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy slim 1000 г
				</h3>
				<img class="product__image" src="/img/products/buckwheat1000-mobile.jpg" width="140" height="112" alt="Cat Energy slim 1000 г со вкусом гречки">
				<dl class="product__characteristics product">
					<dt class="product__title">
						Масса
					</dt>
					<dd class="product__description">
						1000 г
					</dd>
					<dt class="product__title">
						Вкус
					</dt>
					<dd class="product__description">
						Гречка
					</dd>
					<dt class="product__title">
						Цена
					</dt>
					<dd class="product__description">
						700 &#8381;
					</dd>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<h3 class="product__name">
					Cat Energy slim 500 г
				</h3>
				<img class="product__image" src="/img/products/rice500-mobile.jpg" width="140" height="112" alt="Cat Energy slim 500 г со вкусом риса.">
				<dl class="product__characteristics product">
					<dt class="product__title">
						Масса
					</dt>
					<dd class="product__description">
						500 г
					</dd>
					<dt class="product__title">
						Вкус
					</dt>
					<dd class="product__description">
						Рис
					</dd>
					<dt class="product__title">
						Цена
					</dt>
					<dd class="product__description">
						500 &#8381;
					</dd>
				</dl>
				<a class="product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="products__item product">
				<strong class="product__title product__title--show-all">
					Показать еще 100500 товаров
				</strong>
				<p class="product__description">
					На самом деле вкусов гораздо больше!
				</p>
				<a class="product__show-all button button--secondary" href="#">
					Показать все
				</a>
			</li>
		</ul>
	</section>
	<section class="additional-products">
		<h2 class="additional-products__title">
			Дополнительные товары
		</h2>
		<ul class="additional-products__list">
			<li class="additional-products__item additional-product">
				<h3 class="additional-product__title">
					Сахарозаменитель
				</h3>
				<dl class="additional-product__characteristics">
					<dt class="visually-hidden">
						Объем
					</dt>
					<dd class="additional-product__value">
						1 упаковка (100 г)
					</dd>
					<dt class="visually-hidden">
						Цена
					</dt>
					<dd class="additional-product__value">
						200 ₽
					</dd>
				</dl>
				<a class="additional-product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="additional-products__item additional-product">
				<h3 class="additional-product__title">
					Питьевая вода
				</h3>
				<dl class="additional-product__characteristics">
					<dt class="visually-hidden">
						Объем
					</dt>
					<dd class="additional-product__value">
						5 литров
					</dd>
					<dt class="visually-hidden">
						Цена
					</dt>
					<dd class="additional-product__value">
						50 ₽
					</dd>
				</dl>
				<a class="additional-product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="additional-products__item additional-product">
				<h3 class="additional-product__title">
					Молоко
				</h3>
				<dl class="additional-product__characteristics">
					<dt class="visually-hidden">
						Объем
					</dt>
					<dd class="additional-product__value">
						1 литр
					</dd>
					<dt class="visually-hidden">
						Цена
					</dt>
					<dd class="additional-product__value">
						100 ₽
					</dd>
				</dl>
				<a class="additional-product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
			<li class="additional-products__item additional-product">
				<h3 class="additional-product__title">
					Витамины
				</h3>
				<dl class="additional-product__characteristics">
					<dt class="visually-hidden">
						Объем
					</dt>
					<dd class="additional-product__value">
						1 упаковка (30 г)
					</dd>
					<dt class="visually-hidden">
						Цена
					</dt>
					<dd class="additional-product__value">
						300 ₽
					</dd>
				</dl>
				<a class="additional-product__link button button--primary" href="#">
					Заказать
				</a>
			</li>
		</ul>
		<div class="additional-products__present present">
			<p class="present__description">
				Закажите все и получите чехол для кота в подарок!
			</p>
		</div>
	</section>
	<section class="address">
		<h2 class="address__title">
			Приглашаем к сотрудничеству дилеров!
		</h2>
		<address class="address__number">
			Ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
		</address>
		<div class="address__map">
			<img class="address__map-image" src="/img/map-mobile.jpg" width="320" height="362" alt="Карта">
		</div>
	</section>
</main>
{% endblock %}
