{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<!-- ⚠️ Проверяющему ⚠️ -->

<!-- 🔷 Валидация и проверка БЭМ-классов включены в `npm run lint` 🔷 -->

<!-- 🔷 Webp генерируется в прод-сборке. Проверить — `npm run preview` 🔷 -->

<main class="main">
	<div class="main__container">
		<div class="page__centerer">
			<h1 class="main__page-title page-title">
				Подбор программы
			</h1>
		</div>
		<section class="page__centerer page-form">
			<form class="form" action="https://echo.htmlacademy.ru/" method="post">
				<h2 class="form__title">
					Заполните анкету, и мы подберем<br>программу питания для вашего кота
				</h2>
				<div class="form__container">
					<fieldset class="form__cat-information cat-information">
						<legend class="visually-hidden">
							Заполните имя, вес и возраст домашнего питомца
						</legend>
						<div class="cat-information__wrapper">
							<label class="cat-information__cat-name cat-information-label" for="cat-name">
								Имя:<span aria-hidden="true">*</span>
							</label>
							<input class="cat-information__cat-name-input field" type="text" id="cat-name" name="cat-name" placeholder="барсик" required>
						</div>
						<div class="cat-information__wrapper">
							<label class="cat-information__cat-weight cat-information-label" for="cat-weight">
								Вес&nbsp;(кг):<span aria-hidden="true">*</span>
							</label>
							<input class="cat-information__cat-weight-input field" type="number" id="cat-weight" name="cat-weight" placeholder="7" required>
						</div>
						<div class="cat-information__wrapper">
							<label class="cat-information__cat-age cat-information-label" for="cat-age">
								Возраст&nbsp;(лет):
							</label>
							<input class="cat-information__cat-age-input field" type="number" id="cat-age" name="cat-age" placeholder="7">
						</div>
					</fieldset>
					<fieldset class="form__nutrition-program nutrition-program">
						<legend class="visually-hidden">
							Выберите программу питания
						</legend>
						<ul class="nutrition-program__list">
							<li class="nutrition-program__item">
								<input class="nutrition-program__input nutrition-program__wight-loss-input" type="radio" id="weight-loss" name="nutrition-program" value="weight-loss" checked>
								<label class="nutrition-program__weight-loss nutrition-program-label" for="weight-loss">
									Похудение
								</label>
							</li>
							<li class="nutrition-program__item">
								<input class="nutrition-program__input nutrition-program__mass-gain-input" type="radio" id="mass-gain" name="nutrition-program" value="mass-gain">
								<label class="nutrition-program__mass-gain nutrition-program-label" for="mass-gain">
									Набор массы
								</label>
							</li>
							<li class="nutrition-program__item">
								<input class="nutrition-program__input nutrition-program__advise-input" type="radio" id="advise" name="nutrition-program" value="need-advise">
								<label class="nutrition-program__advise nutrition-program-label" for="advise">
									Не знаю (Нужен ваш совет)
								</label>
							</li>
						</ul>
					</fieldset>
				</div>
				<fieldset class="form__owner owner">
					<legend class="owner__title form-subtitle">
						Контактные данные (владельца кота)
					</legend>
					<div class="owner__container">
						<div class="owner__wrapper">
							<label class="owner__email" for="owner-email">
								E-&nbsp;mail:<span aria-hidden="true">*</span>
							</label>
							<input class="owner__email-input" type="email" id="owner-email" name="owner-email" placeholder="kuklachev@gmail.com" required>
							<span class="owner__icon owner__icon--email"></span>
						</div>
						<div class="owner__wrapper">
							<label class="owner__tel" for="owner-tel">
								Телефон:&nbsp;<span aria-hidden="true">*</span>
							</label>
							<input class="owner__tel-input" type="tel" id="owner-tel" name="owner-tel" placeholder="8 (960) 900-60-90" required>
							<span class="owner__icon owner__icon--tel"></span>
						</div>
					</div>
				</fieldset>
				<div class="form__comment comment">
					<label class="comment__title form-subtitle" for="comment">
						Комментарий
					</label>
					<textarea class="comment__text field" name="comment" id="comment" cols="30" rows="7" placeholder="Расскажите обо всех повадках кота"></textarea>
				</div>
				<fieldset class="form__additional additional">
					<legend class="additional__title form-subtitle">
						Дополнительно
					</legend>
					<ul class="additional__list">
						<li class="additional__item">
							<input class="additional__input additional__sweetener-input" type="checkbox" id="sweetener" name="additiona-products" value="sweetener" checked>
							<label class="additional__sweetener additional-label" for="sweetener">
								Сахарозаменитель
							</label>
						</li>
						<li class="additional__item">
							<input class="additional__input additional__water-input" type="checkbox" id="water" name="additiona-products" value="water">
							<label class="additional__water additional-label" for="water">
								Питьевая вода
							</label>
						</li>
						<li class="additional__item">
							<input class="additional__input additional__milk-input" type="checkbox" id="milk" name="additiona-products" value="milk">
							<label class="additional__milk additional-label" for="milk">
								Молоко
							</label>
						</li>
						<li class="additional__item">
							<input class="additional__input additional__vitamins-input" type="checkbox" id="vitamins" name="additiona-products" value="vitamins">
							<label class="additional__vitamins additional-label" for="vitamins">
								Витамины
							</label>
						</li>
					</ul>
				</fieldset>
				<div class="form__wrapper">
					<button class="form__button button button--primary" type="submit">
						Отправить заявку
					</button>
					<small class="form__warning" aria-hidden="true">
						* — Обязательные поля
					</small>
				</div>
			</form>
		</section>
	</div>
	{% include "./templates/address.twig" %}
</main>
{% endblock %}
