{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<!-- ⚠️ Проверяющему ⚠️ -->

<!-- 🔷 Валидация и проверка БЭМ-классов включены в `npm run lint` 🔷 -->

<!-- 🔷 Webp генерируется в прод-сборке. Проверить — `npm run preview` 🔷 -->

<main class="main">
	<h1 class="visually-hidden">
		Кэт Энерджи - программы питания для котов
	</h1>
	<section class="main__hero hero">
		<div class="page__centerer">
			<h2 class="hero__title">
				Функциональное<br>питание для котов
			</h2>
			<p class="hero__slogan">
				Занялся собой? Займись котом!
			</p>
			{% include "./templates/picture.twig" with {name: "chicken-promo", class: "hero__img", alt: "Питание Кэт Энерджи со вкусом курицы"} %}
			<a class="hero__button button button--primary" href="./form.html">
				Подобрать программу
			</a>
		</div>
	</section>
	<section class="programs">
		<div class="page__centerer">
			<div class="programs__container">
				<h2 class="visually-hidden">
					Программы питания
				</h2>
				<div class="weight-loss">
					<h3 class="weight-loss__title">
						Похудение
					</h3>
					<div class="weight-loss__description">
						<p>
							Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
						</p>
					</div>
					<a class="weight-loss__link programs-link" href="#">
						Каталог slim
					</a>
				</div>
				<div class="weight-gain">
					<h3 class="weight-gain__title">
						Набор массы
					</h3>
					<div class="weight-gain__description">
						<p>
							Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
						</p>
					</div>
					<a class="weight-gain__link programs-link" href="#">
						Каталог pro
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="page__centerer advantages">
		<div class="advantages__container">
			<h2 class="advantages__title index-title">
				Как это работает
			</h2>
			<ul class="advantages__list">
				<li class="advantages__item advantages__item--icon_leaf advantages__item--number_one">
					Функциональное питание содержит только полезные питательные вещества.
				</li>
				<li class="advantages__item advantages__item--icon_powder advantages__item--number_two">
					Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
				</li>
				<li class="advantages__item advantages__item--icon_eat advantages__item--number_three">
					Замените один-два приема обычной еды на наше функциональное питание.
				</li>
				<li class="advantages__item advantages__item--icon_time advantages__item--number_four">
					Уже через месяц наслаждайтесь изменениями к лучшему вашего&nbsp;питомца!
				</li>
			</ul>
		</div>
	</section>
	<section class="example">
		<div class="page__centerer">
			<h2 class="example__title index-title">
				Живой пример
			</h2>
			<div class="example__container">
				<div class="example__wrapper">
					<div class="example__description">
						<p>
							Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
						</p>
					</div>
					<dl class="example__list">
						<div class="example__item">
							<dt class="example__item-description">
								Снижение веса
							</dt>
							<dd class="example__number">
								5&nbsp;Кг
							</dd>
						</div>
						<div class="example__item example__item--days">
							<dt class="example__item-description example__item-description--days">
								Затрачено времени
							</dt>
							<dd class="example__number example__number--days">
								60&nbsp;дней
							</dd>
						</div>
						<div class="example__item example__item--price">
							<dt class="example__item-description example__item-description--price">
								Затраты на питание: &#32;
							</dt>
							<dd class="example__number example__number--price">
								&#32;15&nbsp;000&nbsp;РУБ.
							</dd>
						</div>
					</dl>
				</div>
				<div class="example__slider slider">
					<div class="slider" style="--curtain-place: 0.5;">
						{% include "./templates/picture.twig" with {name: "cat-before", class: "example__image slider__image slider__image--state_before", alt: "Толстый кот"} %}
						<div class="slider__curtain">
							<button class="slider__thumb" type="button">
								<span class="visually-hidden">Ползунок слайдера</span>
							</button>
						</div>
						{% include "./templates/picture.twig" with {name: "cat-after", class: "example__image slider__image slider__image--state_after", alt: "Худой кот"} %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "./templates/address.twig" %}
</main>
{% endblock %}
