{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main">
	<h1 class="visually-hidden">
		Кэт Энерджи - программы питания для котов
	</h1>
	<section class="main__hero hero">
		<div class="page__centerer">
			<h2 class="hero__title">
				Функциональное<br>питание для котов
			</h2>
			<p class="hero__slogan">
				Занялся собой? Займись котом!
			</p>
			{% include "./templates/picture.twig" with {name: "chicken-promo", class: "hero__img", alt: "Питание Кэт Энерджи со вкусом курицы"} %}
			<a class="hero__button button button--primary" href="form.html">
				Подобрать программу
			</a>
		</div>
	</section>
	<section class="page__centerer programs">
		<div class="programs__container">
			<h2 class="visually-hidden">
				Программы питания
			</h2>
			<div class="weight-loss">
				<h3 class="weight-loss__title">
					Похудение
				</h3>
				<div class="weight-loss__description">
					<p>
						Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
					</p>
				</div>
				<a class="weight-loss__link programs-link" href="#">
					Каталог slim
				</a>
			</div>
			<div class="weight-gain">
				<h3 class="weight-gain__title">
					Набор массы
				</h3>
				<div class="weight-gain__description">
					<p>
						Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
					</p>
				</div>
				<a class="weight-gain__link programs-link" href="#">
					Каталог pro
				</a>
			</div>
		</div>
	</section>
	<section class="page__centerer advantages">
		<div class="advantages__container">
			<h2 class="advantages__title index-title">
				Как это работает
			</h2>
			<ul class="advantages__list">
				<li class="advantages__item advantages__item--icon_leaf">
					Функциональное питание содержит только полезные питательные вещества.
				</li>
				<li class="advantages__item advantages__item--icon_powder">
					Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
				</li>
				<li class="advantages__item advantages__item--icon_eat">
					Замените один-два приема обычной еды на наше функциональное питание.
				</li>
				<li class="advantages__item advantages__item--icon_time">
					Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!
				</li>
			</ul>
		</div>
	</section>
	<section class="example">
		<div class="page__centerer">
			<h2 class="example__title index-title">
				Живой пример
			</h2>
			<div class="example__description">
				<p>
					Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
				</p>
			</div>
			<dl class="example__list">
					<div class="example__item">
						<dt class="example__item-description">
							Снижение<br>веса
						</dt>
						<dd class="example__number">
							5 Кг
						</dd>
					</div>
					<div class="example__item">
						<dt class="example__item-description">
							Затрачено<br>времени
						</dt>
						<dd class="example__number">
							60 дней
						</dd>
					</div>
				<div class="example__item example__item--price">
					<dt class="example__item-description example__item-description--price">
						Затраты на питание
					</dt>
					<dd class="example__number example__number--price">
						15 000 РУБ.
					</dd>
				</div>
			</dl>
			<div class="example__slider">
				<div class="slider">
					{% include "./templates/picture.twig" with {name: "cat-before", class: "slider__img", alt: "Толстый кот"} %}
					{% include "./templates/picture.twig" with {name: "cat-after", class: "slider__img", alt: "Худой кот"} %}
					<button class="slider__button" type="button">
						<span class="visually-hidden">
							Переключатель толстого/худого кота
						</span>
					</button>
				</div>
			</div>
		</div>
	</section>
	<section class="address">
		<div class="page__centerer address__wrapper">
			<h2 class="address__title">
				Приглашаем<br> к сотрудничеству<br> дилеров!
			</h2>
			<address class="address__number">
				Ул. Большая <br> Конюшенная, д. 19/8 <br> Санкт-Петербург
			</address>
		</div>
		<div class="address__map">
				{% include "./templates/picture.twig" with {name: "map", class: "address__map-img", alt: "Карта."} %}
		</div>
	</section>
</main>
{% endblock %}
